# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Gradio cache
.gradio/

# Audio files
*.mp3
*.wav

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Local development settings
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints 